@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
    /* background: theme('colors.light-subtle'); */
    /* font-family: "Poppins", Arial, Helvetica, sans-serif; */
  }
