@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  primary: 'rgb(30 41 59)',
  secondary: '#F7D1CD',
  'dark-subtle': 'rgba(255,255,255,0.5)',
  'light-subtle': 'rgba(39,39,39,0.5)',
  'dark-purple': '#EC4067'
*/

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  /* background: theme('colors.light-subtle'); */
  /* font-family: "Poppins", Arial, Helvetica, sans-serif; */
}

.visuallyhidden {
  display: none;
}

/* chrome layout bugfix */
input[type="file"]::-webkit-file-upload-button {
  margin-right: 2em;
}

.page-layout {
  margin: 1em 2em;
}

.page-layout h1 {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: theme("colors.secondary");
  background-color: theme("colors.primary");
  text-align: center;
}
.page-layout h2 {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #894740;
}


h1.landlord-name{
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: theme("colors.primary");
  /* background-color: theme("colors.primary"); */
  text-align: center;
  text-shadow:
    1px 0 0 theme("colors.secondary"),
    0 1px 0 theme("colors.secondary"),
    -1px 0 0 theme("colors.secondary"),
    0 -1px 0 theme("colors.secondary");
}

.demoInfogrid{
  border: 1px solid theme("colors.dark-subtle");
}

.reviews-container {
}

.review-table {
  width: 100%;
}

.review-table tr {
  border-bottom: 1px solid #fabab3;
}

.review-table tr.comments-label-row {
  border-bottom: none;
}
.review-table td.comments p {
  padding-left: 1em;
}

.review-label {
  padding: 0.5em 1em;
  color: theme("colors.light-subtle");
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}

.review-data {
  color: theme("colors.primary");
}

.wra-y,
.wra-n {
  margin-left: 6px;
  font-weight: bold;
  font-size: 1.2em;
}
.wra-y {
  color: green;
}
.wra-n {
  color: red;
}

.button-container {
  margin: 1em 0;
  text-align: center;
}

#google-oauth-container {}

/* loading spinner for search page */
.loader-container {
  width: 100%;
  margin: 80px 0 500px 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.results-status h2 {
  font-size: 80px;
  width: 100%;
  text-align: center;
}

/* for main background image */
.bg-page {
  background-image: url("./src/assets/homepage-background.jpg");
}

/* DROPDOWN FOR CITY SEARCH */
.dropdown:hover .dropdown-menu {
  display: block;
}

.search-page-container {
  background-image: url("./src/assets/homepage-background.jpg");
}

.review-page-container {
  background-image: url("./src/assets/review-page.jpg");
  background-repeat: repeat-y;
  text-align: center;
  background-attachment: fixed;
}

.google-map-container{
    border: 2px solid theme("colors.dark-subtle");
    border-radius: 15px;
    overflow: hidden;
    /* margin: 2em 0 0 0 */
    padding: 0;
    max-width: 500px;
}

.column-container{
  border: 2px soid red !important;
  text-align: center;

}
.column-1, .column-2{
  /* float: left; */
  min-width: 500px;
  text-align: center;
}
